@import '../mixins.scss';

#about-page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20%;
    .card{
        height: 100%;
        max-width: 75vw;
        #portrait-container{
            width:auto;
            z-index: 3;
            position: relative;
            display: flex;
            justify-content: center;
            img{
                height: 20vh;
                margin: 0;
            }
        }

        .inner-card{
            padding: 1em;
            background: rgba(250, 249, 246, 0.25);
            backdrop-filter: blur(0.2em);
            -webkit-backdrop-filter: blur( 0.2em);

            .inner-card-content{

                #text-container, #skills-container{
                    p{
                        text-align: justify;
                    }
                }
            }
        }
    }



    @media (min-width: 768px) {
        margin-top:0;
    }

    @media (min-width: 1024px) {
        
        .card{  
            display: flex;
            width: -moz-fit-content;
            width: fit-content;
            position: relative;
            align-items: center;
            #portrait-container{
                height: 100%;
    
                img{
                    height: 100%;
                    position: absolute;
                    right: -5em;
                    bottom:0;
                }
            }

            .inner-card{
                position: relative;
                padding: 5em;
                margin: 5em 0;
                display:flex;
                align-items: center;
                text-align: left;
                .inner-card-content{
                    display: flex;
                    #text-container, #skills-container{
                        display: flex;
                        flex-direction: column;
                        align-items: baseline;
                        padding: 0 2em; //3em 0;
                        width: 50%;
                        p{
                            text-align: justify;
                        }
                    }
    
                }
            }
        }
    }
}

