#about-page{
    display: flex;
    justify-content: center;
    align-items: center;

      



    .card{
        //background-color: red;
        height: 100%;
        max-width: 75vw;
        display: flex;
        width: fit-content;
        // flex-direction: column;
        // justify-content: flex-end;
        position: relative;
        
        #portrait-container{
            height: 100%;
            
            width:auto;
            z-index: 3;
            position: relative;

            img{
                height: 100%;
                position: absolute;
                right: -5em;
                bottom:0;
            }
        }

        

        .inner-card{
            background: rgba(250, 249, 246, 0.25);
            backdrop-filter: blur(0.2em);
            -webkit-backdrop-filter: blur( 0.2em);

            display:flex;
            align-items: center;
            padding: 5em;
            margin: 5em 0;


            border-radius: 50px;
            //background: #e0e0e0;
            box-shadow:  0.1em 0.1em 0.2em rgb(250, 249, 246),
                        -0.1em -0.1em 0.2em rgb(255, 255, 255);

            .inner-card-content{
                display: flex;

                #text-container{
                    display: flex;
                    flex-direction: column;
                    align-items: baseline;
                    padding: 0 2em; //3em 0;
                    width: 50%;
                    p{
                        text-align: justify;
                    }
                }

                #skills-container{
                    display: flex;
                    flex-direction: column;
                    align-items: baseline;
                    padding: 0 2em;
                    width: 50%;
                    p{
                        text-align: justify;
                    }
            
                    
                    

                    
                }
            }

            

            
        }
    }

    @media (max-width: 600px) {
        
        
    }


    @media (max-width: 768px) {
        .card{
            // width: 80vw;
            // flex-direction: column;

            #portrait-container{
                
                height: unset;
                width:auto;
                z-index: 3;
                position: relative;
                display: flex;
                justify-content: center;
    
                img{
                    height: 20vh;
                    position: unset;
                    margin: 0;
                }
            }

            .inner-card{
                margin: 0;
                padding: 1em;

                .inner-card-content{
                    flex-wrap: wrap;


                    #text-container{
                        padding: 1em;
                        width: 100% !important;
                    }
    
                    #skills-container{
                        padding: 1em;
                        margin-top: 2em;
                        width: 100% !important; 
                    }
                }

                
            }
    
        }
    }

    @media (max-width: 1024px) {
        .card{
            width: 80vw;
            flex-direction: column;

            #portrait-container{
                
                height: unset;
                width:auto;
                z-index: 3;
                position: relative;
                display: flex;
                justify-content: center;
    
                img{
                    height: 20vh;
                    position: unset;
                    margin: 0;
                }
            }

            .inner-card{
                margin: 0;
                padding: 1em;

                

                #text-container{
                    padding: 1em;
                }
            }
    
        }
    }
}

