html, body {
  padding: 0; margin: 0;
  position: relative;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  width: 100%;
  position: relative;
}

body::before {
  content: "";
  background: #FFF url(assets/Ninja-transparent.png) no-repeat bottom right;
  background-size: 45vh;
  background-attachment: fixed;
  width: inherit;
  height: inherit;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.bg-img{
  position:absolute;
  right:0;
  bottom:0;
  opacity:0.2;
  height: 45vh;
}

ul{
  list-style-type: none;
}


@media screen and (min-width:1024px){
  body{
    background-size: 65vh;
  }


  .bg-img{

    height:65vh;

  }
}

